@import '../../../app/index.scss';

.filter {
    display: flex;
    justify-content: space-between;
    padding: $mini 0;
    border-bottom: 1px solid $black;
    margin-bottom: $sm;
    position: relative;

    &--box {
        display: flex;
        align-items: center;
        gap: $mini;
        cursor: pointer;
    }
}