@import '../../app/index.scss';

.favourite {
    margin: 0 auto;
    display: grid;
    grid-gap: $md;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    @media (min-width:360px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 $medium;
        grid-gap: $small;
    }

    @media (min-width:1024px) {
        grid-gap: $md;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: $md;
    }
}