@import '../../../app/index.scss';

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  opacity: 100%;
  transition: all;
  border: 1px solid $black;

  &:hover {
    color: $white;
    background-color: $black;
  }

  &--primary {
    color: $white;
    background-color: $black;

    &:hover {

      color: $black;
      background-color: $white;
    }
  }

  &--secondary {
    color: $light_black;
    background-color: transparent;
  }

  &--small {
    padding: $mini $sm;
  }

  &--large {
    width: 100%;
    padding: $sm 150px;
  }
}