@import '../../app/index.scss';

.cartitem {
    display: flex;
    align-items: center;
    gap: $md;
    border-bottom: 1px solid $black;
    padding-bottom: $sm;

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $mini;
        color: $black;

        &--description {
            color: $light_gray;
        }

        &--price {
            display: flex;
            flex-direction: row;
            gap: $mini;
            align-items: center;
        }
    }

    &--icons {
        display: flex;
        flex-direction: row;
        gap: $mini;
        margin-top: $sm;

        &--img {
            opacity: 100%;
            cursor: pointer;

            &:hover {
                opacity: 80%;
            }
        }

    }

    &--img {
        width: 150px;
        border-radius: $mini;
        object-fit: cover;
    }
}