@import '../../app/index.scss';

.cart {
    &--main {
        display: flex;
        justify-content: space-around;
        align-items: start;
        margin: 0 auto;
    }
}

.cart--bag {
    display: flex;
    flex-direction: column;
    gap: $sm;
}