@import '../../../app/index.scss';

.storybook-input {
  border-radius: 20px;
  border: none;
  outline: none;
  background: $input;
  padding: $mini $sm;
  color: $gray;
  position: relative;
}

.icon {
  position: absolute;
  top: 30%;
  right: 1%;
  opacity: 50%;
  cursor: pointer;

  @media (min-width:360px) {
    right: 3%;
    top: 31%;
  }

  @media (min-width:576px) {
    top: 33%;
    right: 4%;
  }

  @media (min-width:1024px) {
    top: 34%;
    right: 3%;
  }

  &:hover {
    opacity: 80%;
  }
}