@import '../../app/index.scss';

.shop__item {
    &--text {
        text-align: start;
        gap: $mini;
        display: flex;
        flex-direction: column;
        color: $black;

        &--ad {
            color: $brown;
        }

        &--description {
            display: flex;
            color: $light_gray;
            justify-content: space-between;
            align-items: center;

            @media (min-width:360px) {
                flex-direction: column;
                align-items: start;
                gap: $mini / 2;
            }

            @media (min-width:768px) {
                flex-direction: row;
                align-items: center;
                gap: 0;
            }
        }
    }

    .img {
        border-radius: $mini;
        margin-bottom: $sm;
        width: 100%;
        object-fit: cover;
    }

    .title--block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--icon {
            cursor: pointer;
            opacity: 100%;

            &:hover {
                opacity: 80%;
            }
        }
    }
}