@import '../../app/index.scss';

.footer {
    margin-top: $footer;
    background: $black;
    color: $white;
    justify-content: center;
    align-items: center;
    padding-top: $md;
    padding-bottom: $sm;
    padding-left: $sm;

    &--list {
        display: flex;
        list-style: none;
        gap: $sm;

        &--item {
            opacity: 100%;

            &:hover {
                opacity: 80%;
            }

            a {
                color: $white;
            }
        }
    }
}

.copyright {
    margin-top: $mini;
    color: $light_gray;
}