@import '../../app/index.scss';

.link--back {
    color: $black;

    &:hover {
        opacity: 80%;
    }
}

.shoe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-basis: 45%;

    @media (min-width:360px) {
        flex-direction: column;
        padding: 0 $md;
        margin-bottom: $md;
    }

    @media (min-width:768px) {
        flex-direction: row;
        padding: 0 $md;
        gap: $md;
    }

    @media (min-width:1024px) {
        flex-basis: 45%;
    }

    .img {
        width: 100%;
        max-width: $img;
        border-radius: $mini;

        @media (min-width:360px) {
            max-width: calc($img / 2);
        }

        @media (min-width:1024px) {
            max-width: calc($img / 1.7);
        }
    }

    .text--block {
        display: flex;
        flex-direction: column;
        gap: $mini;

        &--description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light_gray;
            margin-bottom: $sm;

            &--icon {
                cursor: pointer;
                opacity: 100%;

                &:hover {
                    opacity: 80%;
                }
            }
        }
    }
}