@import '../../app/index.scss';

.link--back {
    color: $black;

    &:hover {
        opacity: 80%;
    }
}

.shoe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-basis: 45%;

    .img {
        width: $img;
        height: $img;
        border-radius: $mini;
    }

    .text--block {
        display: flex;
        flex-direction: column;
        gap: $mini;

        &--description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light_gray;
            margin-bottom: $sm;

            &--icon {
                cursor: pointer;
                opacity: 100%;

                &:hover {
                    opacity: 80%;
                }
            }
        }
    }
}