@import '../../app/index.scss';

.section {
    &--pretitle {
        text-align: start;
    }
}

.under_section {
    margin-top: $md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sm;
}