.error {
    display: flex;
    justify-content: space-around;
    flex-basis: 45%;
    align-items: center;

    .error--right {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &--text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}