@import '../../app/index.scss';

.error {
    display: flex;
    justify-content: space-around;
    flex-basis: 45%;
    align-items: center;

    &--img {
        object-fit: cover;
        width: 100%;
        max-width: $img;
        border-radius: $mini;
    }

    &--right {
        display: flex;
        flex-direction: column;
        gap: $md;
    }

    &--text {
        display: flex;
        flex-direction: column;
        gap: $mini;
    }
}