@import '../../app/index.scss';

.header {
    padding-top: $sm;
    padding-bottom: $sm;
    margin-bottom: $md;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width:360px) {
        justify-content: space-around;
    }

    @media (min-width:576px) {
        justify-content: space-between;
        padding-right: $mini;
        padding-left: $mini;
    }

    .user--img {
        object-fit: cover;
        width: 100%;
        max-width: $md;
        border-radius: $md;
    }

    .icons {
        display: flex;
        gap: $sm;
        align-items: center;

        &--group {
            display: flex;
            gap: $mini;
        }

        a {
            color: $black;
        }

        &--img {
            opacity: 100%;
            cursor: pointer;

            &:hover {
                opacity: 80%;
            }
        }

        &--login {
            @media (min-width: 360px) {
                display: none;
            }
        }
    }
}