@import '../../app/index.scss';

.cartcheck {
    display: flex;
    flex-direction: column;
    gap: $md;

    &--title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $sm;
        border-bottom: 1px solid $black;
        padding-bottom: $mini;
    }

    &--total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}