@import '../../../../app/index.scss';

.filter--list {
    background: $black;
    color: $white;
    position: absolute;
    top: 80%;
    left: 0;
    border-radius: $mini;
    display: flex;
    flex-direction: column;

    &--item {
        cursor: pointer;
        padding: $mini $sm;
        width: 100%;

        &:hover {
            opacity: 80%;
            background: $white;
            border-radius: $mini $mini 0 0;
            color: $black;
        }
    }
}